/* stylelint-disable at-rule-no-deprecated */
@import url("flowbite/src/themes/default");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply transition-all duration-200 ease-in-out;
}

html {
  @apply scroll-pt-24;
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    @apply scroll-auto;
  }
}

.wrapper {
  @apply max-w-screen-xl mx-auto;
}

.flex-center {
  @apply flex items-center justify-center;
}

a {
  @apply hover:text-primary-400;
}

hr {
  @apply mx-auto my-6 h-px border-t-2 border-secondary-200;
}

.cta {
  @apply inline-flex items-center justify-center gap-2 rounded-full bg-primary-400 px-5 py-3 text-base font-semibold text-center text-white shadow-soft hover:bg-primary-500 hover:text-white focus:outline-none focus:ring-2 focus:ring-primary-400 focus:ring-offset-2 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary-400;

  &.light {
    @apply bg-white text-primary-400 hover:bg-secondary-100 focus-visible:outline-white;
  }
}

label {
  @apply text-secondary-900 font-medium text-sm block mb-2;
}

[type="text"],
[type="email"],
[type="url"],
[type="password"],
[type="number"],
[type="date"],
[type="datetime-local"],
[type="month"],
[type="search"],
[type="tel"],
[type="time"],
[type="week"],
[type="file"],
[multiple],
textarea,
select {
  @apply block text-secondary-900 text-sm p-3 bg-white border border-secondary-300 rounded-lg w-full shadow-sm focus:ring-primary-500 focus:border-primary-500 focus:outline-none;

  &[type="file"] {
    @apply p-0;
  }
}

.input-group {
  @apply relative w-full;

  & .prefix {
    @apply absolute flex pl-3 items-center left-0 bottom-0 top-0;

    & svg {
      @apply flex size-5 text-secondary-500;
    }
  }

  input,
  select,
  textarea {
    @apply pl-10;
  }
}

header nav {
  & .menu-item {
    @apply block py-2 pr-4 pl-3 text-sm font-semibold rounded hover:text-white lg:hover:text-primary-400 lg:p-0;

    &.active {
      @apply text-white bg-primary-700 lg:bg-transparent lg:text-primary-400;
    }

    &.inactive {
      @apply text-secondary-700 border-b border-secondary-100 hover:text-white hover:bg-primary-500 lg:hover:bg-transparent lg:hover:text-primary-400 lg:border-0;
    }
  }

  & .cta {
    @apply hidden text-sm md:inline-flex;
  }
}

footer {
  & .footer-section {
    @apply flex flex-col gap-4;

    & h3 {
      @apply text-secondary-900 font-semibold text-lg;
    }

    & .contact-item {
      @apply flex gap-2;

      & svg {
        @apply flex size-5 text-primary-400;
      }
    }
  }

  & .input-group input {
    @apply bg-secondary-50 rounded-r-none;
  }

  & .socials {
    @apply flex justify-center items-center text-secondary-500 gap-6;

    & svg {
      @apply size-5;
    }
  }
}

section {
  @apply bg-secondary-50;

  & .wrapper {
    @apply px-4 py-8 sm:py-16;

    & .title {
      @apply text-center max-w-screen-md mx-auto mb-8;

      & h2 {
        @apply font-extrabold text-4xl mb-4 -tracking-wide;
      }

      & p {
        @apply text-secondary-400 font-light sm:text-xl;
      }
    }
  }
}

& .admin-actions {
  & a,
  & button {
    @apply flex gap-1.5 items-center px-4 py-2 text-sm font-medium text-center text-white rounded-2xl focus:ring-4 focus:outline-none;

    & svg {
      @apply size-4;
    }
  }

  & .create {
    @apply bg-green-700 hover:bg-green-800 focus:ring-green-300;
  }

  & .delete {
    @apply bg-red-700 hover:bg-red-800 focus:ring-red-300;
  }

  & .edit {
    @apply bg-blue-700 hover:bg-blue-800 focus:ring-blue-300;
  }
}

.blog-post {
  @apply grow;

  & .title {
    @apply flex flex-col gap-4 justify-center text-center;

    & span {
      @apply text-secondary-900 font-semibold block;
    }

    & time {
      @apply text-secondary-500 font-normal;
    }

    & h2 {
      @apply text-secondary-900 font-extrabold text-4xl;
    }

    & p {
      @apply text-secondary-500 font-normal text-lg;
    }

    & ul {
      @apply flex gap-2.5 justify-center;

      & li {
        @apply flex font-semibold text-secondary-500 text-xs gap-1.5 items-center;

        & svg {
          @apply flex-shrink-0 size-3.5 text-primary-400;
        }
      }
    }
  }

  & .content {
    @apply relative flex justify-between;

    & article {
      @apply w-full pt-8 border-t-2 border-primary-200 lg:text-lg;
    }
  }
}

.card {
  @apply relative bg-white p-6 shadow-soft rounded-xl;

  & .icon {
    @apply absolute top-0 -translate-y-1/2 flex items-center justify-center size-10 bg-primary-100 rounded-xl shadow-soft lg:size-12;

    & svg {
      @apply block size-5 text-primary-600 lg:size-6;
    }
  }

  & h3 {
    @apply font-bold text-xl mb-2 lg:mt-2;
  }

  & p {
    @apply font-light text-secondary-500;
  }
}

.conditions {
  @apply space-y-8 text-pretty text-secondary-500 font-light;

  & div {
    @apply space-y-2;
  }

  & h3 {
    @apply font-semibold text-lg text-secondary-900;
  }

  & ul {
    @apply list-disc list-inside ms-4;
  }

  & strong {
    @apply font-semibold;
  }
}

.post-card {
  @apply p-4 bg-white rounded-2xl border border-secondary-200 shadow-md;

  &:hover {
    & object {
      @apply transform scale-125 duration-500;
    }
  }

  & .illustration {
    @apply block rounded-2xl h-48 w-full mb-5 overflow-hidden;

    & object {
      @apply relative float-left block rounded-2xl inset-0 w-full h-full max-h-full object-cover object-center;

      &::after {
        @apply absolute inset-0 bg-gradient-to-br from-secondary-800 to-primary-400 opacity-50;
        content: "";
      }
    }
  }

  & .information {
    @apply flex gap-4 justify-between items-center;

    & .category {
      @apply w-fit text-primary-600 font-semibold text-xs px-2.5 py-0.5 bg-primary-100 rounded-2xl;
    }

    & .date {
      @apply flex font-semibold text-secondary-500 text-xs gap-1.5;

      & svg {
        @apply flex-shrink-0 size-3.5;
      }
    }
  }

  & h2 {
    @apply text-secondary-900 font-bold text-2xl my-2;
  }

  & p {
    @apply text-secondary-500 font-light mb-4;
  }

  & ul {
    @apply flex gap-2.5 mb-4;

    & li {
      @apply flex font-semibold text-secondary-500 text-xs gap-1.5 items-center;

      & svg {
        @apply flex-shrink-0 size-3.5 text-primary-400;
      }
    }
  }

  & .more {
    @apply flex gap-4 items-center;

    & a {
      @apply inline-flex gap-2 text-primary-400 font-medium items-center hover:underline;

      & svg {
        @apply size-4;
      }
    }

    & .read {
      @apply flex font-semibold text-secondary-500 text-xs gap-1.5 items-center;

      & svg {
        @apply flex-shrink-0 size-3.5;
      }
    }
  }

  & .admin-actions {
    @apply mt-4 flex gap-4 items-center justify-around;
  }
}

.pricing-card {
  @apply flex flex-col p-6 mx-auto max-w-lg text-center text-secondary-900 bg-white rounded-2xl border border-secondary-100 shadow hover:scale-105;

  &.highlighted {
    @apply border-primary-400 shadow-soft;
  }

  & .highlight {
    @apply mb-2;

    & span {
      @apply text-primary-600 bg-primary-100 text-sm px-3 py-1 rounded-full;
    }
  }

  & h3 {
    @apply mb-4 text-2xl font-semibold;
  }

  & p {
    @apply font-light text-secondary-500 sm:text-lg;
  }

  & .price {
    @apply flex justify-center items-baseline my-8;

    & span:nth-child(1) {
      @apply mr-2 text-5xl font-extrabold;
    }

    & span:nth-child(2) {
      @apply ml-2 text-secondary-500;
    }
  }

  & ul {
    @apply space-y-4 text-left mt-8;

    & li {
      @apply flex gap-2.5 items-start;

      & svg {
        @apply flex-shrink-0 size-3.5 text-primary-400 mt-1.5;
      }
    }
  }
}

.solution {
  @apply grid gap-8 lg:gap-16 md:grid-cols-2;

  &.short-solution {
    @apply items-center;

    & .solution-content {
      @apply space-y-4;
    }
  }

  &.long-solution {
    & .solution-content {
      @apply space-y-12;
    }

    & img {
      @apply sticky top-24;
    }
  }

  &:nth-child(even) {
    & img {
      @apply md:order-first;
    }
  }

  & .solution-content {
    & .solution-title {
      @apply flex items-center gap-2;

      & svg {
        @apply flex-shrink-0 size-7 text-primary-400;
      }

      & h2,
      & h3 {
        @apply font-bold text-xl sm:text-2xl;
      }
    }

    & :not(.solution-title) h3 {
      @apply font-semibold text-lg sm:text-xl;
    }

    & p {
      @apply text-base text-secondary-500 font-normal sm:text-lg;
    }

    & ul {
      @apply space-y-4;

      & li {
        @apply flex gap-2.5 items-start;

        & svg {
          @apply flex-shrink-0 size-3.5 text-primary-400 mt-1.5;
        }

        & span {
          @apply font-medium;
        }
      }
    }
  }

  & img {
    @apply block object-cover w-full rounded-2xl shadow-soft;
  }
}

.team-member {
  @apply grid gap-8 items-center lg:gap-16 md:grid-cols-2;

  &:nth-child(even) {
    & img {
      @apply md:order-first;
    }
  }

  & .team-member-content {
    @apply space-y-12;

    & h2 {
      @apply font-bold text-xl sm:text-2xl;
    }

    & h3 {
      @apply font-semibold text-lg sm:text-xl;

      &.role {
        @apply text-primary-400;
      }
    }

    & p {
      @apply text-base text-secondary-500 font-normal sm:text-lg;
    }

    & ul {
      @apply space-y-4;

      & li {
        @apply flex gap-2.5 items-start;

        & svg {
          @apply flex-shrink-0 size-3.5 text-primary-400 mt-1.5;
        }

        & span {
          @apply font-medium;
        }
      }
    }
  }

  & img {
    @apply block object-cover w-full rounded-2xl shadow-soft;
  }
}

.vision {
  @apply space-y-4;

  & .vision-title {
    @apply flex items-center gap-2;

    & svg {
      @apply flex-shrink-0 size-7 text-primary-400;
    }

    & h2 {
      @apply font-bold text-xl sm:text-2xl;
    }
  }

  & p {
    @apply text-base text-secondary-500 font-normal sm:text-lg;
  }

  & ul {
    @apply space-y-4;

    & li {
      @apply flex gap-2.5 items-start;

      & svg {
        @apply flex-shrink-0 size-3.5 text-primary-400 mt-1.5;
      }

      & span {
        @apply font-medium;
      }
    }
  }
}

/* ========================================================================== */
/*                                Third library                               */
/* ========================================================================== */

.rti--container {
  --rti-bg: #fff !important;
  --rti-border: #9dadc3 !important;
  --rti-main: #4aa394 !important;
  --rti-radius: 0.5rem !important;
  --rti-s: 0.5rem !important; /* spacing */
  --rti-tag: #e2e7ed !important;
  --rti-tag-remove: #c81e1e !important;
}

.w-md-editor-text {
  @apply h-full;
}

.wmde-markdown {
  @apply bg-transparent text-secondary-500;

  & h1,
  & h2,
  & h3,
  & h4,
  & h5,
  & h6 {
    @apply text-secondary-900 border-none;
  }

  & h1,
  & h2,
  & h3 {
    @apply font-bold;
  }

  & h4,
  & h5,
  & h6 {
    @apply font-semibold;
  }

  & a {
    @apply text-primary-400;
  }

  & hr {
    @apply mx-auto my-6 h-px border-t border-secondary-200;
  }

  & ul {
    @apply list-disc list-inside;
  }

  & ol {
    @apply list-decimal list-inside;

    & li p {
      @apply inline-block m-0;
    }
  }

  & pre {
    @apply bg-white;
  }

  & table {
    @apply w-full text-sm text-left rtl:text-right indent-0;

    & thead {
      @apply text-xs text-secondary-700 uppercase bg-secondary-100 border-none p-0 m-0;

      & tr {
        @apply bg-transparent border-none;
      }

      & th {
        @apply px-6 py-3 border-none m-0;
      }
    }

    & tbody {
      & tr {
        @apply odd:bg-white even:bg-secondary-100 border-b border-t-0 border-secondary-300 p-0 m-0;

        &:last-child {
          @apply border-b-0;
        }
      }

      & th {
        @apply px-6 py-4 font-medium text-secondary-900 whitespace-nowrap border-none m-0;
      }

      & td {
        @apply px-6 py-4 border-none m-0;
      }
    }
  }
}
